.sectionPersonagens {
    background: red;
}

.divPersonagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 4em 2em;
    gap: 2em;
    background: rgba(255, 213, 121, 0.705);
}