.magiasSection {
    display: grid;
    justify-content: center;
    grid-template: 200px 200px 200px 200px 200px 200px 200px 200px 200px / 24vw 24vw 24vw 24vw;
    grid-gap: 20px 10px;
} 

.magia {
    display: flex;
    flex-direction: column;
    background: rgba(94, 12, 12, 0.699);

}