.magiasSection {
    display: grid;
    justify-content: center;
    grid-template: 200px 200px 200px  / 300px 300px 300px 300px;
    grid-auto-rows: 200px;
    grid-gap: 20px 20px;
    padding: 5em;
    background: rgba(255, 213, 121, 0.705);
} 

.magia {
    display: grid;
    grid-template: 25% 75% / 100% ;
    text-align: center;
    background: black;
    color: white;
    border-radius: 20px;
}

.magia:hover {
    background: red;
}

.magia:hover h2 {
    background: black;
}

.magia h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    font-size: 20px;
    background: red;
    border-radius: 20px 20px 0  0 ;
}

.magia p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0 1em;
}

/* .magia:first-child {
    grid-area: 1 / 1 / 3 / -1;
} */