.personagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
    background: black;
    cursor: pointer;
    border-radius: 8px;
}

.personagem:hover {
    opacity: 80%;
}

.personagem h2 {
    color: wheat;
    margin: 0;
    height: 50px;
}

.personagem img {
    width: 100%;
    height: 160px;
    position: relative;
}

.personagem p {
    color: white;
    margin: 0;
    height: 30px;
}